<header>
    <nav>
        <div id="main">
            <div>
                <a href="./index.ejs"><img src="./moulin_logo.png" alt="logo_moulin"></a>
            </div>
            <div>
                <div>
                    <a id="hebclas" class="boutonMenu" href="">Hébergements classiques</a>
                    <!--Menu déroulant  gîte classque-->
                    <div class="menuderclass">
                            <a href="./legite.ejs">Le Gîte</a>
                            <a href="./studios.ejs">Les Studios</a>    
                    </div>
                </div>

                <div>
                    <a id="hebinsol" class="boutonMenu" href="">Hébergements insolites</a>
                    <!--Menu déroulant  gîte insolite-->
                    <div class="menuderinsol">
                        <a href="./roulotte.ejs">La Roulotte</a>
                        <a href="./kota.ejs">Le Kota</a>    
                    </div>
                </div>
                
                <div><a class="boutonMenu" href="">Services</a></div>
                <div><a class="boutonMenu" href="contact.ejs">Contact</a></div>
            </div>    
        </div>
    </nav>
</header>