<!DOCTYPE html>
<!--Jc Ghyselinck-->
<!--Le 03/10/2022-->
<!--Le Gîte du Moulin-->

<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./legite.css">
        <title>Gîte du Moulin</title>
    </head>

    <body>

        <button class="toppage" onclick="window.location.href='#'";>
            <img src="./bouton.png" alt="top_page">
        </button>

        <!--header-->
        <%- include("./head.ejs"); %>

        <section id="principale">

            <article>   
                <div id="conteneurphoto">
                    <p>Le Gîte</p>
                    <img id="photo" src="./gite.jpg" alt="gîte"> 
                    <p id="texte">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare. Ut consectetur lorem a leo dictum, vel feugiat nisi iaculis. Mauris fringilla dui a nunc pulvinar, a dapibus felis dictum. Vestibulum odio ligula, porta quis ipsum eu, facilisis malesuada dolor. Nulla mattis a augue eget tincidunt. Duis rutrum finibus massa vel dictum. Praesent pharetra viverra laoreet. Aliquam ante tellus, iaculis fermentum purus quis, faucibus tincidunt eros. Ut malesuada dui et odio congue, vel eleifend lectus feugiat. Proin a pharetra lectus, a tempor tortor. 
                    </p>   
                </div>
            </article>

            <article> 
                <div id="tarification">
                    <p>Tarifs</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                    </p>
                    <p>285.00 € TTC</p>                 
                </div>    
            </article>
            
            <div class="reserv1">
                <button class="reserve" onclick="window.location.href='#'";>
                    <p>RESERVER</p>
                </button>
            </div>
            
            <section>
                <article> 
                    <div id="option">
                        <p>Options disponibles à la réservation</p>
                        <p>
                            Option ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        </p>
                        <p>150.00 € TTC</p>                 
                    </div>    
                </article>

                <article> 
                    <div class="option2">
                        <p>
                            Option2 ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        </p>
                        <p>87.00 € TTC</p>                 
                    </div>    
                </article>

                <article> 
                    <div class="option2">
                        <p>
                            Option3 ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        </p>
                        <p>15.00 € TTC</p>                 
                    </div>    
                </article>

                <article> 
                    <div class="option2">
                        <p>
                            Option4 ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        </p>
                        <p>56.00 € TTC</p>                 
                    </div>    
                </article>

                <article> 
                    <div class="option2">
                        <p>
                            Option5 ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        </p>
                        <p>78.00 € TTC</p>                 
                    </div>    
                </article>

                <div class="reserv1">
                    <button class="reserve" onclick="window.location.href='#'";>
                        <p>RESERVER</p>
                    </button>
                </div>
                <div id="mm"></div><!--marge sous le bouton-->    
            </section>

            <article >
                <div id="infodiv">
                    <p>Informations diverses</p>
                    <p>
                        Informations diverses dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                        dolor sit amet, consectetur adipiscing elit. Vivamus eleifend lorem justo. Duis mollis ligula laoreet est eleifend cursus. Proin scelerisque ex lectus, eu tincidunt dolor dapibus quis. Maecenas luctus odio eu lectus fermentum ornare.
                    </p>                 
                </div>
            </article>

            <!--header-->
            <%- include("./foot.ejs"); %>
        </section>

        <script src="./jquery-3.6.1.js"></script>        
        <script src="./index.js"></script>    
    </body>    